.ace_editor.ace-codebox-dark {
  background-color: #2B303B;
  color: #C5C8C6;
}
.ace_editor.ace-codebox-dark .ace_gutter {
  background: none repeat scroll 0 0 #2B303B;
  color: #757A84;
}
.ace_editor.ace-codebox-dark .ace_print-margin {
  background: none repeat scroll 0 0 #333D46;
  width: 1px;
}
.ace_editor.ace-codebox-dark .ace_cursor {
  color: #AEAFAD;
}
.ace_editor.ace-codebox-dark .ace_marker-layer .ace_selection {
  background: none repeat scroll 0 0 #3D4550;
}
.ace_editor.ace-codebox-dark.ace_multiselect .ace_selection.ace_start {
  border-radius: 2px;
  box-shadow: 0 0 3px 0 #1D1F21;
}
.ace_editor.ace-codebox-dark .ace_marker-layer .ace_step {
  background: none repeat scroll 0 0 #665200;
}
.ace_editor.ace-codebox-dark .ace_marker-layer .ace_bracket {
  border: 1px solid #4B4E55;
  margin: -1px 0 0 -1px;
}
.ace_editor.ace-codebox-dark .ace_marker-layer .ace_active-line {
  background: none repeat scroll 0 0 #333D46;
}
.ace_editor.ace-codebox-dark .ace_gutter-active-line {
  background-color: #333D46;
}
.ace_editor.ace-codebox-dark .ace_marker-layer .ace_selected-word {
  border: 1px solid #373B41;
}
.ace_editor.ace-codebox-dark .ace_invisible {
  color: #4B4E55;
}
.ace_editor.ace-codebox-dark .ace_keyword,
.ace_editor.ace-codebox-dark .ace_meta,
.ace_editor.ace-codebox-dark .ace_storage,
.ace_editor.ace-codebox-dark .ace_storage.ace_type {
  color: #B294BB;
}
.ace_editor.ace-codebox-dark .ace_keyword.ace_operator {
  color: #8ABEB7;
}
.ace_editor.ace-codebox-dark .ace_constant.ace_character,
.ace_editor.ace-codebox-dark .ace_constant.ace_language,
.ace_editor.ace-codebox-dark .ace_constant.ace_numeric,
.ace_editor.ace-codebox-dark .ace_keyword.ace_other.ace_unit,
.ace_editor.ace-codebox-dark .ace_support.ace_constant,
.ace_editor.ace-codebox-dark .ace_variable.ace_parameter {
  color: #CC856C;
}
.ace_editor.ace-codebox-dark .ace_constant.ace_other {
  color: #CED1CF;
}
.ace_editor.ace-codebox-dark .ace_invalid {
  background-color: #DF5F5F;
  color: #CED2CF;
}
.ace_editor.ace-codebox-dark .ace_invalid.ace_deprecated {
  background-color: #B798BF;
  color: #CED2CF;
}
.ace_editor.ace-codebox-dark .ace_fold {
  background-color: #81A2BE;
  border-color: #757A84;
}
.ace_editor.ace-codebox-dark .ace_entity.ace_name.ace_function,
.ace_editor.ace-codebox-dark .ace_support.ace_function {
  color: #81A2BE;
}
.ace_editor.ace-codebox-dark .ace_support.ace_class,
.ace_editor.ace-codebox-dark .ace_support.ace_type {
  color: #F0C674;
}
.ace_editor.ace-codebox-dark .ace_heading,
.ace_editor.ace-codebox-dark .ace_string {
  color: #9DBE8C;
}
.ace_editor.ace-codebox-dark .ace_entity.ace_name.ace_tag,
.ace_editor.ace-codebox-dark .ace_entity.ace_other.ace_attribute-name,
.ace_editor.ace-codebox-dark .ace_meta.ace_tag,
.ace_editor.ace-codebox-dark .ace_string.ace_regexp,
.ace_editor.ace-codebox-dark .ace_variable {
  color: #B55761;
}
.ace_editor.ace-codebox-dark .ace_comment {
  color: #969896;
}
.ace_editor.ace-codebox-dark .ace_indent-guide {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHB3d/8PAAOIAdULw8qMAAAAAElFTkSuQmCC") repeat-y scroll right center rgba(0, 0, 0, 0);
}
.ace_editor.ace-codebox-dark.ace_autocomplete {
  background: none repeat scroll 0 0 #323D46;
  border: medium none;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  color: #65737E;
  line-height: 2;
  position: fixed;
  width: 280px;
  z-index: 200000;
}
.ace_editor.ace-codebox-dark.ace_autocomplete .ace_marker-layer .ace_active-line {
  background-color: #4F5B67;
  z-index: 1;
}
.ace_editor.ace-codebox-dark.ace_autocomplete .ace_text-layer .ace_selected,
.ace_editor.ace-codebox-dark.ace_autocomplete .ace_text-layer .ace_selected .ace_rightAlignedText {
  color: #A1ADBA;
}
.ace_editor.ace-codebox-dark.ace_autocomplete .ace_line-hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  margin-top: -1px;
  position: absolute;
  z-index: 2;
}
.ace_editor.ace-codebox-dark.ace_autocomplete .ace_rightAlignedText {
  color: #65737E;
  display: inline-block;
  font-style: italic;
  position: absolute;
  right: 4px;
  text-align: right;
  z-index: -1;
}
.ace_editor.ace-codebox-dark.ace_autocomplete .ace_completion-highlight {
  color: #C0C5CE;
}
.ace_editor.ace-codebox-dark .ace_search {
  background: none repeat scroll 0 0 #1C1F25;
  border-color: rgba(0, 0, 0, 0);
  color: #65737E;
}
.ace_editor.ace-codebox-dark .ace_search .ace_searchbtn_close:hover {
  background-color: #323D46;
  color: #65737E;
}
.ace_editor.ace-codebox-dark .ace_search .ace_search_field {
  background: none repeat scroll 0 0 #323D46;
  border-color: rgba(0, 0, 0, 0);
  color: #65737E;
}
.ace_editor.ace-codebox-dark .ace_search .ace_search_form,
.ace_editor.ace-codebox-dark .ace_search .ace_replace_form {
  background-color: #323D46;
  border-color: rgba(0, 0, 0, 0);
  color: #65737E;
}
.ace_editor.ace-codebox-dark .ace_search .ace_button {
  background-color: #323D46;
  color: #65737E;
}
.ace_editor.ace-codebox-dark .ace_search .ace_searchbtn,
.ace_editor.ace-codebox-dark .ace_search .ace_replacebtn {
  background-color: #323D46;
  border-color: rgba(0, 0, 0, 0);
  color: #65737E;
}
